html{
    margin: 0;
    padding:0;
    background-color: rgb(150, 0, 57);
    overflow: hidden;
}
#container{
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 60%;
    height: 80%;
    background-color: rgb(121, 0, 46);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 5px 34px 6px rgb(88, 0, 34);
    text-align: center;
}
.text{
    color:pink;
    font-size: 25px;
}
.pacman{
    padding-top: 20px;
    padding-bottom: 20px;
}
.guzior{
    text-decoration: none;
    color:red;
    font-size: 35px;
    border:1px solid rgb(197, 13, 221);
    border-radius: 15px;
    padding: 5px;
}
.padd{
    margin-bottom:10px;
}
#translate{
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-right: 10%;
    border:1px solid black;
    overflow-x: hidden;
    overflow-y:scroll;
    margin-bottom: 10px;
}
.dwa{
    
}
#nie2{
    display: none;
}
audio{
    display:none;
}
.nygga{
    margin-top:10px;
}