body{
    background-color: rgb(20, 20, 20);
    margin: 0px;
    padding: 0px;
}
h3{
    color:#6e6e6e;
    animation: naglowek 3s ease 0s infinite alternate none;
    font-family: 'Gemunu Libre', sans-serif;
}

footer{
    text-align: center;
    color:#9b9b9b;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: inline;
    animation: blinker 4s linear infinite;
}
#container{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin:0px;
}
#main{
text-align: center;
}
a{
    text-decoration: none;
    color:#9b9b9b;
    font-size: 20px;;
    padding-left: 50px;
    padding-right: 50px;
}
a:hover {
    animation: animation 7s ease 0s infinite alternate none;
    
}
@keyframes animation{
0% { margin-left: 0;text-shadow: 0 0 1px dodgerblue;}
33% { margin-left: -5%;text-shadow: 0 0 1px crimson;}
66% { margin-left: 0;text-shadow: 0 0 1px darkorange;}
100% { margin-left: 5%;text-shadow: 0 0 1px limegreen;}}

@keyframes blinker 
{
    0% {opacity: 1;}
    15% {opacity: 0;}
    30% {opacity: 1;}
    65% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes naglowek 
{
0%{text-shadow: 0 0 1px rgb(114, 28, 76);}
50%{text-shadow: 0 0 5px rgb(114, 28, 76);}
100%{text-shadow: 0 0 1px rgb(114, 28, 76);}
}

