*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("bg.jpg");
    margin: 0;
}
#container{
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
#menu{
    width: 90%;
    height: 10%;
    min-height: 45px;
    min-width: 600px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:2%;
    padding-right:2%;
    font-size:200%;
    font-weight: 600;
    color:#8cb9d6;
}
#main{
    width: 90%;
    height: 75%;
    min-height: 340px;
    min-width: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:100px;
}
#footer{
    width: 90%;
    height: 5%;
    font-weight: 500;
    color:#8cb9d6;
    font-size: 85%;
}
.card{
    width: 25%;
    height: 90%;
    min-height: 300px;
    min-width: 170px;
    border: 1px solid #bd6b6b;
    
}
.name{
    color: #b0cfe3;
    height: 15%;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    font-size: 175%;
    font-weight: 700;
}
.content{
    color:#8cb9d6;
    height: 85%;
    width: 100%;
    font-size: 135%;
}
.acc{
    height: 10%;
    width: 96%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.acc a, .music a{
    text-decoration: none;
    color:#8cb9d6;
    font-size: 100%;
    font-weight: 400;
}
.acc a:hover, .music a:hover{
    color: #b0cfe3;
}
