/*@media (max-width: 1000px) and (min-width: 600px)*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("bg.jpg");
    /*background: linear-gradient(to right top, rgb(255, 255, 142), rgb(167, 224, 61));*/
}
#main{
    min-height: 400px;
}
#accs{
    display: block;
}
#settings{
    display: none;
}
#cfgs{
    display: none;
}
#music{
    display: none;
}
#accs ul li a{
    text-decoration: none;
    color:white;
    font-size: 150%;
}
#accs ul li a:hover{
    text-decoration: none;
    color:lightgreen;
    font-size: 150%;
    text-shadow: 0px 0px 20px lightgreen;
}
#accs ul{
    list-style: none;
    margin-top: 55px;
}
#accs ul li{
    margin-top: 10px;
}

#logo:hover{
text-shadow: 0px 0px 30px lightgreen;
}
#settings ul{
    list-style: none;
    margin-top: 55px;
}
#settings ul li{
    text-decoration: none;
    color:white;
    font-size: 150%;
    margin-top:10px;
    
}
#music ul{
    list-style: none;
    margin-top: 55px;
    
}
#music ul li{
    font-size: 150%; 
    margin-top:10px;
}
#music ul li a{
    text-decoration: none;
    color:white;
}
#music ul li a:hover{
    text-decoration: none;
    color:lightgreen;
    text-shadow: 0px 0px 20px lightgreen;
}
#logo{
    font-size: 200%;
    color:white;
    text-shadow: 0px 0px 14px white;
}
#nav #links #accs_button{
    color:rgba(255,255,255,0.5);
}
@media (min-width: 900px){
    #container{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    #main{
        display: flex;
        width: 80%;
        height: 70%;
        border: 2px solid green;
        color:white;
        text-align: center;
        justify-content: center;
        margin-top:10px;
    }
    #nav{
        display: flex;
        width: 80%;
        height: 10%;
        justify-content: space-between;
        align-items: center;
        padding:30px;
        border: 2px solid green;
        margin-top: 20px;
    }
    #links ul li{
        list-style: none;
        display: inline-block;
        padding: 0 20px;
        color: white;
    }
    #links ul li:hover{
        color: rgba(255,255,255,0.5);
        text-shadow: 0px 0px 14px green;
        cursor: pointer;
    }
    #dc{
        color:White;
        text-shadow: 0px 0px 14px white;
    }
}
@media (max-width: 900px){
    #container{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
    }
    #main{
        display: flex;
        width: 70%;
        height: 80%;
        border: 2px solid green;
        color:white;
        text-align: center;
        justify-content: center;
        margin:5%;
        min-height: 400px;
    }
    #nav{
        padding-top: 10px;
        width: 20%;
        height: 80%;
        margin:5%;
        border: 2px solid green;
        text-align: center;
        position: relative;
        min-width: 150px;
        min-height: 400px;
    }
    #links ul li{
        list-style: none;
        display: block;
        margin-top: 20px;
        color: white;
    }
    #links ul li:hover{
        color: rgba(255,255,255,0.5);
        text-shadow: 0px 0px 14px green;
        cursor: pointer;
    }
    #dc{
        color:White;
        text-shadow: 0px 0px 14px white;
        position: absolute;
        bottom:5px;
        left:15%;
    }
}
