body{
    background-color: rgb(20, 20, 20);
    margin: 0px;
    padding: 0px;
}
h3{
    color:#00ff0d23;
    animation: naglowek 3s ease 0s infinite alternate none;
    font-family: 'Gemunu Libre', sans-serif;
}

footer{
    text-align: center;
    color:#9b9b9b;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: inline;
    animation: blinker 4s linear infinite;
}
#container{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin:0px;
}
#top{
    height: 3px;
    width: 100%;
    background: linear-gradient(to left, #008aff,#00ffe7);
    animation: neon 5s linear infinite;
}
#main{
height: 95%;
width: 100%;
text-align: center;
}
a{
    text-decoration: none;
    color:#9b9b9b;
    font-size: 20px;;
    padding-left: 50px;
    padding-right: 50px;
}
a:hover {
    animation: animation 5s ease 0s infinite alternate none;
    
}
@keyframes animation{
0% { margin-left: 0;text-shadow: 0 0 1px dodgerblue;}
33% { margin-left: -1%;text-shadow: 0 0 1px crimson;}
66% { margin-left: 0;text-shadow: 0 0 1px darkorange;}
100% { margin-left: 1%;text-shadow: 0 0 1px limegreen;}}

@keyframes blinker 
{
    0% {opacity: 1;}
    15% {opacity: 0;}
    30% {opacity: 1;}
    65% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes naglowek 
{
0%{text-shadow: 0 0 1px rgb(41, 178, 219);}
40%{text-shadow: 0 0 2px rgb(41, 178, 219);}
50%{text-shadow: 0 0 3.5px rgb(41, 178, 219);}
60%{text-shadow: 0 0 2px rgb(41, 178, 219);}
100%{text-shadow: 0 0 1px rgb(41, 178, 219);}
}
@keyframes neon 
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

