body{
    background-color: rgb(20, 20, 20);
    margin: 0px;
    padding: 0px;
}
h3{
    text-shadow: 0 0 4px rgb(114, 28, 76);
    color:#6e6e6e
   
}

footer{
    text-align: center;
    color:#9b9b9b;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
#container{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin:0px;
}
#main{
text-align: center;
}
a{
    text-decoration: none;
    color:#9b9b9b;
    font-size: 20px;;
}
a:hover {
    text-shadow: 0 0 0.5px rgb(56, 216, 56);
}